body {
	background: url('../img/net3.jpg') no-repeat center center fixed;
  background-size: cover;
	margin: 0px;
}

#ticker {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 200px;
	display:flex;
  justify-content:center;
  align-items:center;
	margin: 5%;
	border-radius: 25px;
  overflow: auto;
}

.header{
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 20px;
}

.form {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	display: inline-block;
	padding: 5%;
}

.white {
	color: #e0e0e0;
}

.center {
	text-align: center;
}

.space {
	margin: 10px;
}

*:focus {
    outline: none;
}
